h2 {
    margin-bottom: 30px !important;
}

.new__post {
    height: 190px;
    margin: 10px;
    position: relative;
}
.new__post__title {
    margin-block-end: 10px;
    font-size: clamp(16px, 5vw, 25px);
}
.new__post__text {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.new__post__send {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 35px;
    font-size: 20px;
    background-color: #088b53;
    border-radius: 10px;
    transition: transform 0.3 ease;
}
.new__post__send:hover {
    transform: scale(1.1);
}
.new__post__send:active {
    transform: scale(1);
}
