.contact__messages_item {
    display: flex;
    flex-direction: row-reverse;
    margin-block-end: 20px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding: 15px 0px;
    position: relative;
}
#messages_item__author {
    font-size: 12px;
    font-weight: 550;
}
.messages_itemImg {
    margin-block-start: -10px;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: #fcab5b;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages_itemImg img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.massages_itemText {
    padding: 10px;
    margin-inline-end: 30px;
    background-color: rgba(171, 169, 169, 0.466);
    max-width: 100%;
    height: auto;
    border: 2px solid #fcab5b;
    border-radius: 15px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.massages_itemText p {
}
.massages_itemText::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-top: 2px solid #ddaa4c;
    border-right: 2px solid #ddaa4c;
    top: 0;
    right: -20px;
    transform: rotate(50deg);
}
.data {
    font-size: 8px;
    font-weight: 550;
}
