.header {
    grid-area: header;
    padding-inline: 10px;
    background-color: rgb(186, 63, 18);
    display: flex;
    align-items: center;
}
.header img {
    width: 50px;
    border-radius: 50%;
}
