.sidebar {
    height: 100%;
    grid-area: sidebar;
    background-color: #154973;
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
    .sidebar_active {
        display: block;
        position: absolute;
        z-index: 11;
        left: 0;
        top: 0;
        height: 100%;
        width: 200px;
        background-color: #154973e8;
    }
}

.menu {
    margin: 15px;
    font-size: 20px;
}
.menu > :not(:last-child) {
    margin-bottom: 10px;
}
@media (hover) {
    .menu *:hover {
        background-color: #79777583;
    }
}
.menu li a {
    display: block;
    padding-inline: 5px;
}
.activeLink {
    color: gold;
}
hr {
    border: 1px solid;
    margin-block-end: 10px;
    padding-block: 2px;
    background-color: rgba(171, 169, 169, 0.466);
}
.settings {
    display: block;
    font-size: clamp(16px, 5vw, 30px);
    margin-inline-start: 10px;
}
.friends {
    margin-block-start: 10px;
}
.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friends__title {
    display: block;
    font-size: clamp(18px, 7vw, 40px);
    font-weight: 200;
    text-align: center;
}
.friends__block {
    margin-block-start: 20px;
    display: flex;
    justify-content: space-evenly;
}
.friend__image {
    width: 50px;
    height: 50px;
    margin-block-end: 5px;
    background-color: #fcab5b;
    border-radius: 50%;
	position: relative;
}
.friend__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
    top: 0;
    left: 0;
}
.friend__name {
}
