h1 {
    font-size: clamp(16px, 5vw, 30px);
    margin-block-start: 10px;
    margin-block-end: 20px;
}
li {
    list-style-type: none !important;
}

.wrapper__dialogs_contact {
    display: flex;
}
.dialogs_name {
    padding-inline-start: 10px;
    width: 20%;
    margin-inline-end: 10px;
}
.dialogs_name ul {
}

.dialogs_name ul li {
    list-style-type: disc;
}
.dialogs_name ul li:not(:last-child) {
    margin-block-end: 20px;
}
.dialogs_name ul li div {
    display: flex;
}

.dialogs_messages_ask {
    border-left: 2px solid #ddaa4c;
    width: 40%;
}

.dialogs_messages_answer {
    width: 40%;
}